<a href="https://colab.research.google.com/github/drshahizan/special-topic-data-engineering/blob/main/Movie_ML.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## **Download the dataset**

In [11]:
#Import libraries
import pandas as pd, numpy as np
import re

In [19]:
#Load data
data = "/content/sample_data/movie_top_rated.csv"
movie = pd.read_csv(data, encoding='latin-1')
movie

,movie_id,title,description_short,description_long,year,country_id,rating,genre_id,actors,director,featured,kids_restriction,url,trailer_url,duration
0,1,Spider-Man: Across the Spider-Verse,"After reuniting with Gwen Stacy, Brooklyns fu...","After reuniting with Gwen Stacy, Brooklyns fu...",2023,1,5,1,"[""1"", ""2"", ""3""]",1,1,0,https://www.youtube.com/watch?v=46spiINi3o0,https://www.acrossthespiderverse.movie,8400
1,2,The Godfather,"Spanning the years 1945 to 1955, a chronicle o...","Spanning the years 1945 to 1955, a chronicle o...",1972,1,5,2,"[""4"", ""5"", ""6""]",2,1,0,https://www.youtube.com/watch?v=Ew9ngL1GZvs,http://www.thegodfather.com/,10500
2,3,The Shawshank Redemption,Framed in the 1940s for the double murder of h...,Framed in the 1940s for the double murder of h...,1994,1,5,2,"[""7"", ""8"", ""9""]",3,1,0,https://www.youtube.com/watch?v=PLl99DlL6b4,NaN,8520
3,4,The Godfather Part II,In the continuing saga of the Corleone crime f...,In the continuing saga of the Corleone crime f...,1974,1,5,2,"[""5"", ""10"", ""11""]",2,1,0,https://www.youtube.com/watch?v=rcU6DUUUd7k,NaN,12120
4,5,Dilwale Dulhania Le Jayenge,"Raj is a rich, carefree, happy-go-lucky second...","Raj is a rich, carefree, happy-go-lucky second...",1995,2,5,3,"[""12"", ""13"", ""14""]",4,1,0,https://www.youtube.com/watch?v=oIZ4U21DRlM,NaN,11400
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
575,576,An Autumn Afternoon,Shuhei Hirayama is a widower with a 24-year-ol...,Shuhei Hirayama is a widower with a 24-year-ol...,1962,3,3,2,"[""324"", ""101"", ""1354""]",93,1,0,https://www.youtube.com/watch?v=Z3x7ffIpsUU,NaN,6840
576,577,Indiana Jones and the Last Crusade,"In 1938, an art collector appeals to eminent a...","In 1938, an art collector appeals to eminent a...",1989,1,3,9,"[""116"", ""1355"", ""1356""]",5,1,0,https://www.youtube.com/watch?v=DKg36LBVgfg,http://www.indianajones.com/crusade,7620
577,578,Don't Be Bad,A story set in the 90s and in the outskirts of...,A story set in the 90s and in the outskirts of...,2015,10,3,13,"[""1357"", ""650"", ""1358""]",401,1,0,https://www.youtube.com/watch?v=8WxlD7Wm2hE,NaN,6000
578,579,The Best Offer,Virgil Oldman is a world renowned antiques exp...,Virgil Oldman is a world renowned antiques exp...,2013,10,3,2,"[""1359"", ""1360"", ""1361""]",18,1,0,https://www.youtube.com/watch?v=zJGleGyahC8,NaN,7860
579,580,Louis C.K.: Live at the Beacon Theater,"Recorded November 10th, 2011 as part of the Ne...","Recorded November 10th, 2011 as part of the Ne...",2011,1,3,3,"[""1290""]",381,1,0,NaN,https://buy.louisck.net/,3720

In [13]:
movie.head()

,movie_id,title,description_short,description_long,year,country_id,rating,genre_id,actors,director,featured,kids_restriction,url,trailer_url,duration
0,1,Spider-Man: Across the Spider-Verse,"After reuniting with Gwen Stacy, Brooklyns fu...","After reuniting with Gwen Stacy, Brooklyns fu...",2023,1,5,1,"[""1"", ""2"", ""3""]",1,1,0,https://www.youtube.com/watch?v=46spiINi3o0,https://www.acrossthespiderverse.movie,8400
1,2,The Godfather,"Spanning the years 1945 to 1955, a chronicle o...","Spanning the years 1945 to 1955, a chronicle o...",1972,1,5,2,"[""4"", ""5"", ""6""]",2,1,0,https://www.youtube.com/watch?v=Ew9ngL1GZvs,http://www.thegodfather.com/,10500
2,3,The Shawshank Redemption,Framed in the 1940s for the double murder of h...,Framed in the 1940s for the double murder of h...,1994,1,5,2,"[""7"", ""8"", ""9""]",3,1,0,https://www.youtube.com/watch?v=PLl99DlL6b4,NaN,8520
3,4,The Godfather Part II,In the continuing saga of the Corleone crime f...,In the continuing saga of the Corleone crime f...,1974,1,5,2,"[""5"", ""10"", ""11""]",2,1,0,https://www.youtube.com/watch?v=rcU6DUUUd7k,NaN,12120
4,5,Dilwale Dulhania Le Jayenge,"Raj is a rich, carefree, happy-go-lucky second...","Raj is a rich, carefree, happy-go-lucky second...",1995,2,5,3,"[""12"", ""13"", ""14""]",4,1,0,https://www.youtube.com/watch?v=oIZ4U21DRlM,NaN,11400

In [14]:
movie.tail()

,movie_id,title,description_short,description_long,year,country_id,rating,genre_id,actors,director,featured,kids_restriction,url,trailer_url,duration
575,576,An Autumn Afternoon,Shuhei Hirayama is a widower with a 24-year-ol...,Shuhei Hirayama is a widower with a 24-year-ol...,1962,3,3,2,"[""324"", ""101"", ""1354""]",93,1,0,https://www.youtube.com/watch?v=Z3x7ffIpsUU,NaN,6840
576,577,Indiana Jones and the Last Crusade,"In 1938, an art collector appeals to eminent a...","In 1938, an art collector appeals to eminent a...",1989,1,3,9,"[""116"", ""1355"", ""1356""]",5,1,0,https://www.youtube.com/watch?v=DKg36LBVgfg,http://www.indianajones.com/crusade,7620
577,578,Don't Be Bad,A story set in the 90s and in the outskirts of...,A story set in the 90s and in the outskirts of...,2015,10,3,13,"[""1357"", ""650"", ""1358""]",401,1,0,https://www.youtube.com/watch?v=8WxlD7Wm2hE,NaN,6000
578,579,The Best Offer,Virgil Oldman is a world renowned antiques exp...,Virgil Oldman is a world renowned antiques exp...,2013,10,3,2,"[""1359"", ""1360"", ""1361""]",18,1,0,https://www.youtube.com/watch?v=zJGleGyahC8,NaN,7860
579,580,Louis C.K.: Live at the Beacon Theater,"Recorded November 10th, 2011 as part of the Ne...","Recorded November 10th, 2011 as part of the Ne...",2011,1,3,3,"[""1290""]",381,1,0,NaN,https://buy.louisck.net/,3720

In [15]:
movie.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 580 entries, 0 to 579
Data columns (total 15 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   movie_id           580 non-null    int64
 1   title              580 non-null    object
 2   description_short  580 non-null    object
 3   description_long   580 non-null    object
 4   year               580 non-null    int64
 5   country_id         580 non-null    int64
 6   rating             580 non-null    int64
 7   genre_id           580 non-null    int64
 8   actors             580 non-null    object
 9   director           580 non-null    int64
 10  featured           580 non-null    int64
 11  kids_restriction   580 non-null    int64
 12  url                534 non-null    object
 13  trailer_url        256 non-null    object
 14  duration           580 non-null    int64
dtypes: int64(9), object(6)
memory usage: 68.1+ KB

In [21]:
movie.isnull().sum()

movie_id               0
title                  0
description_short      0
description_long       0
year                   0
country_id             0
rating                 0
genre_id               0
actors                 0
director               0
featured               0
kids_restriction       0
url                   46
trailer_url          324
duration               0
dtype: int64

In [22]:
movie.isna().sum()

movie_id               0
title                  0
description_short      0
description_long       0
year                   0
country_id             0
rating                 0
genre_id               0
actors                 0
director               0
featured               0
kids_restriction       0
url                   46
trailer_url          324
duration               0
dtype: int64

In [24]:
movieclean = movie.drop_duplicates()
movie.shape

(580, 15)

In [25]:
movie.describe()

,movie_id,year,country_id,rating,genre_id,director,featured,kids_restriction,duration
count,580.000000,580.000000,580.000000,580.000000,580.000000,580.000000,580.0,580.0,580.000000
mean,290.500000,1994.550000,6.767241,3.555172,4.832759,166.441379,1.0,0.0,7031.379310
std,167.575853,26.972178,7.765071,0.671701,4.284119,119.191657,0.0,0.0,2444.172689
min,1.000000,1902.000000,1.000000,3.000000,1.000000,1.000000,1.0,0.0,240.000000
25%,145.750000,1974.750000,1.000000,3.000000,2.000000,61.750000,1.0,0.0,5880.000000
50%,290.500000,2004.000000,3.000000,3.000000,3.000000,148.500000,1.0,0.0,6900.000000
75%,435.250000,2018.000000,10.000000,4.000000,5.000000,266.250000,1.0,0.0,8040.000000
max,580.000000,2023.000000,40.000000,5.000000,18.000000,401.000000,1.0,0.0,25920.000000

Split the dataset: Split the dataset into training and testing sets using train_test_split from scikit-learn.

In [29]:
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.feature_extraction.text import TfidfVectorizer
from sklearn.linear_model import LogisticRegression
from sklearn.metrics import accuracy_score
X = movie['description_short']
y = movie['rating']

X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)

Feature extraction: Convert the textual data into numerical representations that can be processed by machine learning algorithms. One popular method is TF-IDF (Term Frequency-Inverse Document Frequency). Use the TfidfVectorizer from scikit-learn to perform this step.

In [30]:
vectorizer = TfidfVectorizer()
X_train_tfidf = vectorizer.fit_transform(X_train)
X_test_tfidf = vectorizer.transform(X_test)

Train a machine learning model: Select a suitable algorithm for your classification task, such as logistic regression. Create an instance of the chosen model and train it on the training data

In [31]:
model = LogisticRegression()
model.fit(X_train_tfidf, y_train)

LogisticRegression()

Evaluate the model: Use the trained model to make predictions on the test data and assess its performance.

In [32]:
y_pred = model.predict(X_test_tfidf)
accuracy = accuracy_score(y_test, y_pred)
print("Accuracy:", accuracy)

Accuracy: 0.4827586206896552