<a href="https://colab.research.google.com/github/drshahizan/special-topic-data-engineering/blob/main/DataCleaning_Tiktok.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd
import random
from sklearn.linear_model import LogisticRegression
from google.colab import drive

drive.mount("/content/drive")

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

In [ ]:
filename = '/content/drive/MyDrive/db_tiktok.tiktokdatacollection4.csv'

In [ ]:
df = pd.read_csv(filename)
df.head()

,_id,Username,Caption,Video Duration,Upload Date,Comments,Plays,Shares,Likes
0,648c37e0bb11ea0da0bd5cc3,ceddyornot,Was invited to Natura’s event to learn more ab...,63,1685624469,9,6441,1,158.0
1,648c37e0bb11ea0da0bd5cc4,ceddyornot,So which one do you like? Zus’ Buttercrème lat...,55,1685596800,136,52400,59,2373.0
2,648c37e0bb11ea0da0bd5cc5,ceddyornot,We meet again for the 3rd episode of MILO GAME...,338,1685538632,26,81200,26,1441.0
3,648c37e0bb11ea0da0bd5cc6,ceddyornot,The Loaf [Muslim Friendly] just opened its fir...,91,1685445610,31,62800,50,1212.0
4,648c37e0bb11ea0da0bd5cc7,ceddyornot,[Yet another Hokkien content since I am back i...,58,1685190149,109,92500,315,3775.0

In [ ]:
df

In [ ]:
df.info

<bound method DataFrame.info of                            _id        Username  \
0     648c37e0bb11ea0da0bd5cc3      ceddyornot
1     648c37e0bb11ea0da0bd5cc4      ceddyornot
2     648c37e0bb11ea0da0bd5cc5      ceddyornot
3     648c37e0bb11ea0da0bd5cc6      ceddyornot
4     648c37e0bb11ea0da0bd5cc7      ceddyornot
...                        ...             ...
1011  648c8e429d013a2222014d65  padubebstudios
1012  648c8e429d013a2222014d66  padubebstudios
1013  648c8e429d013a2222014d67  padubebstudios
1014  648c8e429d013a2222014d68  padubebstudios
1015  648c8e429d013a2222014d69  padubebstudios

                                                Caption  Video Duration  \
0     Was invited to Natura’s event to learn more ab...              63
1     So which one do you like? Zus’ Buttercrème lat...              55
2     We meet again for the 3rd episode of MILO GAME...             338
3     The Loaf [Muslim Friendly] just opened its fir...              91
4     [Yet another Hokkien content since I am back i...              58
...                                                 ...             ...
1011  Lamb Ribs Me'Nate tetap di hati guys #PaduBebB...              45
1012  Mamak jual Pizza ini rare! #PaduBebBros #Makan...              39
1013  Mee Kari Udang Galah yang sedap sehingga menji...              27
1014  Sotong Beso Gedabak di Uptown Danau Kota #Padu...              25
1015  Siapa tak tahan pedas jangan mengada-ngada nak...              48

      Upload Date  Comments   Plays  Shares   Likes
0      1685624469         9    6441       1   158.0
1      1685596800       136   52400      59  2373.0
2      1685538632        26   81200      26  1441.0
3      1685445610        31   62800      50  1212.0
4      1685190149       109   92500     315  3775.0
...           ...       ...     ...     ...     ...
1011   1678865318        55  207300     255     NaN
1012   1678605075         4   20200      12     NaN
1013   1678422190         9   45500     161     NaN
1014   1677648031       139  150400     547     NaN
1015   1677561164         8   40000      12     NaN

[1016 rows x 9 columns]>

In [ ]:
dfclean = df.drop(['_id'], axis=1)

In [ ]:
dfclean.isnull().sum()

Username            0
Caption             0
Video Duration      0
Upload Date         0
Comments            0
Plays               0
Shares              0
Likes             330
dtype: int64

In [ ]:
dfclean.isna().sum()

Username            0
Caption             0
Video Duration      0
Upload Date         0
Comments            0
Plays               0
Shares              0
Likes             330
dtype: int64

In [ ]:
dfclean.drop_duplicates()
dfclean.head()

,Username,Caption,Video Duration,Upload Date,Comments,Plays,Shares,Likes
0,ceddyornot,Was invited to Natura’s event to learn more ab...,63,1685624469,9,6441,1,158.0
1,ceddyornot,So which one do you like? Zus’ Buttercrème lat...,55,1685596800,136,52400,59,2373.0
2,ceddyornot,We meet again for the 3rd episode of MILO GAME...,338,1685538632,26,81200,26,1441.0
3,ceddyornot,The Loaf [Muslim Friendly] just opened its fir...,91,1685445610,31,62800,50,1212.0
4,ceddyornot,[Yet another Hokkien content since I am back i...,58,1685190149,109,92500,315,3775.0

In [ ]:
df = dfclean.dropna()

In [ ]:
df.shape

(686, 8)

In [ ]:
df.describe()

,Video Duration,Upload Date,Comments,Plays,Shares,Likes
count,686.000000,6.860000e+02,686.000000,6.860000e+02,686.000000,686.000000
mean,67.262391,1.671425e+09,259.036443,7.241250e+05,769.454810,23700.400875
std,59.632925,3.257236e+07,877.132821,2.595159e+06,2468.847608,64043.732463
min,5.000000,1.581866e+09,0.000000,1.299000e+03,0.000000,38.000000
25%,29.000000,1.680801e+09,30.000000,3.320000e+04,28.000000,1096.750000
50%,58.000000,1.684329e+09,80.000000,1.113500e+05,123.000000,4993.000000
75%,82.000000,1.685623e+09,191.000000,4.146750e+05,504.250000,21075.000000
max,533.000000,1.686898e+09,17000.000000,2.860000e+07,29800.000000,665200.000000

In [ ]:
import regex

In [ ]:
import re

In [ ]:
# Function to remove emojis from a string
def remove_emojis(text):
    emoji_pattern = regex.compile("[\p{Emoji}]")
    return emoji_pattern.sub('', text)

# Remove emojis from the 'description' column
df['Caption'] = df['Caption'].apply(remove_emojis)

# Display the modified DataFrame
print(df)

       Username                                            Caption  \
0    ceddyornot  Was invited to Natura’s event to learn more ab...
1    ceddyornot  So which one do you like? Zus’ Buttercrème lat...
2    ceddyornot  We meet again for the rd episode of MILO GAMES...
3    ceddyornot  The Loaf [Muslim Friendly] just opened its fir...
4    ceddyornot  [Yet another Hokkien content since I am back i...
..          ...                                                ...
681     liafa62  An affordable all-you-can-eat place for family...
682     liafa62  An international level local cafe? ️  • • CNYF...
683     liafa62  Korang tau x where to get yummy Japanese treat...
684     liafa62  Sharing one of my favorite moments ️ • • selfc...
685     liafa62  Jalan si Liana cari makan ️ • • myfoodie makan...

     Video Duration  Upload Date  Comments    Plays  Shares    Likes
0                63   1685624469         9     6441       1    158.0
1                55   1685596800       136    52400      59   2373.0
2               338   1685538632        26    81200      26   1441.0
3                91   1685445610        31    62800      50   1212.0
4                58   1685190149       109    92500     315   3775.0
..              ...          ...       ...      ...     ...      ...
681             170   1674644079        63   130300     164   5101.0
682             178   1674472592        93    74100      49   1791.0
683              49   1673520902       110   121700      25   2602.0
684              56   1673262480        86   214600      42   4474.0
685             179   1672741798       889  1100000    1505  66300.0

[686 rows x 8 columns]

<ipython-input-67-55c67b760d26>:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['Caption'] = df['Caption'].apply(remove_emojis)

In [ ]:
import regex as re

In [ ]:
# Function to remove emojis from a string
def remove_emojis(text):
    emoji_pattern = re.compile("[\U0001F300-\U0001F64F\U0001F680-\U0001F6FF\U0001F910-\U0001F9FF\u2600-\u26FF\u2700-\u27BF]+", flags=re.UNICODE)
    return emoji_pattern.sub('', text)

# Remove emojis from the 'Caption' column
df['Caption'] = df['Caption'].apply(lambda x: remove_emojis(x))

# Display the modified DataFrame
print(df)

       Username                                            Caption  \
0    ceddyornot  Was invited to Natura’s event to learn more ab...
1    ceddyornot  So which one do you like? Zus’ Buttercrème lat...
2    ceddyornot  We meet again for the rd episode of MILO GAMES...
3    ceddyornot  The Loaf [Muslim Friendly] just opened its fir...
4    ceddyornot  [Yet another Hokkien content since I am back i...
..          ...                                                ...
681     liafa62  An affordable all-you-can-eat place for family...
682     liafa62  An international level local cafe? ️  • • CNYF...
683     liafa62  Korang tau x where to get yummy Japanese treat...
684     liafa62  Sharing one of my favorite moments ️ • • selfc...
685     liafa62  Jalan si Liana cari makan ️ • • myfoodie makan...

     Video Duration  Upload Date  Comments    Plays  Shares    Likes
0                63   1685624469         9     6441       1    158.0
1                55   1685596800       136    52400      59   2373.0
2               338   1685538632        26    81200      26   1441.0
3                91   1685445610        31    62800      50   1212.0
4                58   1685190149       109    92500     315   3775.0
..              ...          ...       ...      ...     ...      ...
681             170   1674644079        63   130300     164   5101.0
682             178   1674472592        93    74100      49   1791.0
683              49   1673520902       110   121700      25   2602.0
684              56   1673262480        86   214600      42   4474.0
685             179   1672741798       889  1100000    1505  66300.0

[686 rows x 8 columns]

<ipython-input-71-ee092b3d2201>:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['Caption'] = df['Caption'].apply(lambda x: remove_emojis(x))

In [ ]:
def remove_emojis(text):
    emoji_pattern = re.compile("[\U0001F300-\U0001F64F\U0001F680-\U0001F6FF\U0001F910-\U0001F9FF\u2600-\u26FF\u2700-\u27BF]+", flags=re.UNICODE)
    return emoji_pattern.sub('', text)

# Remove emojis from the 'Caption' column using .loc
df.loc[:, 'Caption'] = df['Caption'].apply(remove_emojis)

# Display the modified DataFrame
print(df)

       Username                                            Caption  \
0    ceddyornot  Was invited to Natura’s event to learn more ab...
1    ceddyornot  So which one do you like? Zus’ Buttercrème lat...
2    ceddyornot  We meet again for the rd episode of MILO GAMES...
3    ceddyornot  The Loaf [Muslim Friendly] just opened its fir...
4    ceddyornot  [Yet another Hokkien content since I am back i...
..          ...                                                ...
681     liafa62  An affordable all-you-can-eat place for family...
682     liafa62  An international level local cafe? ️  • • CNYF...
683     liafa62  Korang tau x where to get yummy Japanese treat...
684     liafa62  Sharing one of my favorite moments ️ • • selfc...
685     liafa62  Jalan si Liana cari makan ️ • • myfoodie makan...

     Video Duration  Upload Date  Comments    Plays  Shares    Likes
0                63   1685624469         9     6441       1    158.0
1                55   1685596800       136    52400      59   2373.0
2               338   1685538632        26    81200      26   1441.0
3                91   1685445610        31    62800      50   1212.0
4                58   1685190149       109    92500     315   3775.0
..              ...          ...       ...      ...     ...      ...
681             170   1674644079        63   130300     164   5101.0
682             178   1674472592        93    74100      49   1791.0
683              49   1673520902       110   121700      25   2602.0
684              56   1673262480        86   214600      42   4474.0
685             179   1672741798       889  1100000    1505  66300.0

[686 rows x 8 columns]

<ipython-input-72-03d63a79c7a5>:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df.loc[:, 'Caption'] = df['Caption'].apply(remove_emojis)

In [ ]:
df

,Username,Caption,Video Duration,Upload Date,Comments,Plays,Shares,Likes
0,ceddyornot,Was invited to Natura’s event to learn more ab...,63,1685624469,9,6441,1,158.0
1,ceddyornot,So which one do you like? Zus’ Buttercrème lat...,55,1685596800,136,52400,59,2373.0
2,ceddyornot,We meet again for the rd episode of MILO GAMES...,338,1685538632,26,81200,26,1441.0
3,ceddyornot,The Loaf [Muslim Friendly] just opened its fir...,91,1685445610,31,62800,50,1212.0
4,ceddyornot,[Yet another Hokkien content since I am back i...,58,1685190149,109,92500,315,3775.0
...,...,...,...,...,...,...,...,...
681,liafa62,An affordable all-you-can-eat place for family...,170,1674644079,63,130300,164,5101.0
682,liafa62,An international level local cafe? ️ • • CNYF...,178,1674472592,93,74100,49,1791.0
683,liafa62,Korang tau x where to get yummy Japanese treat...,49,1673520902,110,121700,25,2602.0
684,liafa62,Sharing one of my favorite moments ️ • • selfc...,56,1673262480,86,214600,42,4474.0
685,liafa62,Jalan si Liana cari makan ️ • • myfoodie makan...,179,1672741798,889,1100000,1505,66300.0

In [ ]:
import datetime

In [ ]:

df['Upload Date'] = pd.to_datetime(df['Upload Date'], unit='s')

# Display the modified DataFrame
print(df)

       Username                                            Caption  \
0    ceddyornot  Was invited to Natura’s event to learn more ab...
1    ceddyornot  So which one do you like? Zus’ Buttercrème lat...
2    ceddyornot  We meet again for the rd episode of MILO GAMES...
3    ceddyornot  The Loaf [Muslim Friendly] just opened its fir...
4    ceddyornot  [Yet another Hokkien content since I am back i...
..          ...                                                ...
681     liafa62  An affordable all-you-can-eat place for family...
682     liafa62  An international level local cafe? ️  • • CNYF...
683     liafa62  Korang tau x where to get yummy Japanese treat...
684     liafa62  Sharing one of my favorite moments ️ • • selfc...
685     liafa62  Jalan si Liana cari makan ️ • • myfoodie makan...

     Video Duration         Upload Date  Comments    Plays  Shares    Likes
0                63 2023-06-01 13:01:09         9     6441       1    158.0
1                55 2023-06-01 05:20:00       136    52400      59   2373.0
2               338 2023-05-31 13:10:32        26    81200      26   1441.0
3                91 2023-05-30 11:20:10        31    62800      50   1212.0
4                58 2023-05-27 12:22:29       109    92500     315   3775.0
..              ...                 ...       ...      ...     ...      ...
681             170 2023-01-25 10:54:39        63   130300     164   5101.0
682             178 2023-01-23 11:16:32        93    74100      49   1791.0
683              49 2023-01-12 10:55:02       110   121700      25   2602.0
684              56 2023-01-09 11:08:00        86   214600      42   4474.0
685             179 2023-01-03 10:29:58       889  1100000    1505  66300.0

[686 rows x 8 columns]

<ipython-input-78-0df3c0d1b1ec>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['Upload Date'] = pd.to_datetime(df['Upload Date'], unit='s')

In [ ]:
df['Likes'] = df['Likes'].astype(int)

# Display the modified DataFrame
print(df)

       Username                                            Caption  \
0    ceddyornot  Was invited to Natura’s event to learn more ab...
1    ceddyornot  So which one do you like? Zus’ Buttercrème lat...
2    ceddyornot  We meet again for the rd episode of MILO GAMES...
3    ceddyornot  The Loaf [Muslim Friendly] just opened its fir...
4    ceddyornot  [Yet another Hokkien content since I am back i...
..          ...                                                ...
681     liafa62  An affordable all-you-can-eat place for family...
682     liafa62  An international level local cafe? ️  • • CNYF...
683     liafa62  Korang tau x where to get yummy Japanese treat...
684     liafa62  Sharing one of my favorite moments ️ • • selfc...
685     liafa62  Jalan si Liana cari makan ️ • • myfoodie makan...

     Video Duration         Upload Date  Comments    Plays  Shares  Likes
0                63 2023-06-01 13:01:09         9     6441       1    158
1                55 2023-06-01 05:20:00       136    52400      59   2373
2               338 2023-05-31 13:10:32        26    81200      26   1441
3                91 2023-05-30 11:20:10        31    62800      50   1212
4                58 2023-05-27 12:22:29       109    92500     315   3775
..              ...                 ...       ...      ...     ...    ...
681             170 2023-01-25 10:54:39        63   130300     164   5101
682             178 2023-01-23 11:16:32        93    74100      49   1791
683              49 2023-01-12 10:55:02       110   121700      25   2602
684              56 2023-01-09 11:08:00        86   214600      42   4474
685             179 2023-01-03 10:29:58       889  1100000    1505  66300

[686 rows x 8 columns]

<ipython-input-79-96006f45295f>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['Likes'] = df['Likes'].astype(int)

In [ ]:
df

,Username,Caption,Video Duration,Upload Date,Comments,Plays,Shares,Likes
0,ceddyornot,Was invited to Natura’s event to learn more ab...,63,2023-06-01 13:01:09,9,6441,1,158
1,ceddyornot,So which one do you like? Zus’ Buttercrème lat...,55,2023-06-01 05:20:00,136,52400,59,2373
2,ceddyornot,We meet again for the rd episode of MILO GAMES...,338,2023-05-31 13:10:32,26,81200,26,1441
3,ceddyornot,The Loaf [Muslim Friendly] just opened its fir...,91,2023-05-30 11:20:10,31,62800,50,1212
4,ceddyornot,[Yet another Hokkien content since I am back i...,58,2023-05-27 12:22:29,109,92500,315,3775
...,...,...,...,...,...,...,...,...
681,liafa62,An affordable all-you-can-eat place for family...,170,2023-01-25 10:54:39,63,130300,164,5101
682,liafa62,An international level local cafe? ️ • • CNYF...,178,2023-01-23 11:16:32,93,74100,49,1791
683,liafa62,Korang tau x where to get yummy Japanese treat...,49,2023-01-12 10:55:02,110,121700,25,2602
684,liafa62,Sharing one of my favorite moments ️ • • selfc...,56,2023-01-09 11:08:00,86,214600,42,4474
685,liafa62,Jalan si Liana cari makan ️ • • myfoodie makan...,179,2023-01-03 10:29:58,889,1100000,1505,66300

In [ ]:
df.to_csv('output-tiktok.csv', index=False)

In [ ]:
from google.colab import files
files.download('output-tiktok.csv')